<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


</head>
<body>
<div class="wrapper">
    <div th:insert="~{partials/sideBar :: sideBar}"></div>
    <div class="main">
        <div th:insert="~{partials/sideBar:: navBar}"></div>
        <main class="content">
            <div class="container-fluid p-0">

                <div layout:fragment="content"></div>

            </div>
        </main>
        <div th:insert="~{partials/sideBar :: footer}"></div>
    </div>

</div>

<script>
   /* function functionC() {
        $.get("/notifications" , function (data) {
            $('#notification').find('#aa').html(data);
        });
    }*/
</script>
</body>
</html>