@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

    body {
        width: 100vw !important;
        height: 100vh !important;
        user-select: none !important;
        overflow-x: hidden !important;
        background-color: #003049 !important;
    }


    a {
        text-decoration: none !important;
    }

    .cssContainer {
        display: grid !important;
        width: 96% ;
        gap: 1.8rem !important;
        margin: 0 auto !important;
        grid-template-columns: 12rem auto  !important;
    }
    aside{
        height: 100vh;
    }

    aside .toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.4rem;
    }

    aside .toggle .close {
        padding-right: 1rem;
        display: none;
    }

    aside .side {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
        height: 88vh;
        position: relative;
        top: 1.5rem;

        transition: all 0.3s ease;

    }

    aside .side:hover {
        box-shadow: none;

    }

    aside .side a {
        display: flex !important;
        align-items: center !important;
        color: gray !important;
        height: 3.7rem !important;
        gap: 1rem !important;
        top: 1.5rem !important;

        position: relative !important;
        margin-left: 2rem !important;
        transition: all 0.3s ease !important;
    }

    aside .side a h3{
        font-size: large !important;
        font-family: "Poppins",sans-serif;
        color: gray !important;

    }

    aside .side a span {
        font-size: 1.6rem !important;
        transition: all 0.3s ease !important;
    }
    aside .side a:last-child{
        position: absolute;
        bottom: 2rem;
        width: 100%;
    }

    aside .side a.active {
        width: 100% !important;
        color: #0da9be !important;
        background-color: #003049 !important;
        margin-left: 0!important;
    }

    aside .side a.active::before {
        content: '' !important;
        width: 6px !important;
        height: 18px !important;
        background-color: #0da9be !important;
    }

    aside .side a.active span {
        color: #0da9be !important;
        margin-left: calc(1rem - 3px) !important;
    }
aside .side a.active h3 {
    color: #0da9be !important;
}

    aside .side a:hover {
        color: #0da9be !important;
    }
aside .side a:hover h3 {
    color: #0da9be !important;

}
    aside .side a:hover span {
        margin-left: 0.6rem !important;
    }

    main{
        margin-top: 1.4rem !important;
    }
    @media screen and (max-width: 1200px) {
        .cssContainer {
            width: 97% !important;
            grid-template-columns: 7rem auto  !important;
        }

        aside .side h3 {
            display: none !important;
        }

        aside .side a {
            width: 5.6rem !important;
        }

#cin{
    width: 10.5cm;
}
    }
.row .bg-light{
    border-radius: 15px;
    box-shadow: 2px 5px 2px rgba(152, 152, 152, 0.4);
    background-color: #356d78 !important;
}
.row .bg-light:hover{
    box-shadow: none;
}
    .table {
        border-spacing: 0 15px;
        border-collapse: separate;
        color: #414d60;
        padding-right: 6px;
        padding-left: 6px;

    }
    .table thead tr th,
    .table thead tr td,
    .table tbody tr th,
    .table tbody tr td {
        vertical-align: middle;
        border: none;
    }

    .table td img, .table th img {
        width: 41px;
        height: 41px;
        border-radius: 100%;
        margin-right: 15px;
        border: 3px solid #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .table td,  .table th {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

    }
    .table tbody tr {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    .table tbody tr td {
        background: #fff;
    }
    .table tbody tr td:nth-child(1) {
        border-radius: 5px 0 0 5px;
    }
    .table tbody tr td:nth-last-child(1) {
        border-radius: 0 5px 5px 0;
    }

    .user-info {
        display: flex;
        align-items: center;
    }

    .text-gray{
        color: gray;
    }


    .table  th {
        padding-top: .75rem;
        padding-bottom: .75rem;
        font-size: .80rem;
        text-transform: uppercase;
        font-weight: bold;
        border-top: 0;
        color: #3f4a5b;

    }

    .table tr:first-child{
        background-color: #eceef2;
    }

    .checkIn-card {
        width: 100%;
        max-width: 93%;
        height: 72px;
        background: #003049;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: left;
        transition: 0.5s ease-in-out;
    }

    .checkIn-card:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .checkImg img {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        border-radius: 10px;
        background: linear-gradient(#d7cfcf, #233786);
    }



    .textBox {
        width: calc(100% - 90px);
        margin-left: 10px;
        color: white;
    }

    .textContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .textContent span {
        font-size: 13px;
        color: #0da9be;
    }
.check-h3{
    font-family: "Poppins",sans-serif;
    padding: 12px;
    color: whitesmoke;

}

    .checkInDev {
        font-size: 12px;
        font-weight: normal;
    }


/* Style for the kebab menu */
.kebab-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.kebab-menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 99px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.kebab-menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.kebab-menu-content a:hover {
    background-color: #f1f1f1;
}







