<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
  <meta charset="UTF-8">
  <title>Checked-in Members</title>
</head>
<body>

  <tr th:each="m:${members}" style="background-color: white" >
    <td th:utext="${m.getId()}" ></td>
    <td class="py-1"><img th:if="${m.pic}"  alt="user icon" th:src="@{'/images/'+${m.pic}}"></td>
    <td th:utext="${m.getName()}"></td>
    <td th:utext="${m.getLname()}"></td>
    <td th:utext="${m.getCin()}"></td>
    <td style="font-weight: bold;text-align: center;color: #1b1372" th:utext="${m.getCurrentAbonnement().getAbonnement().getPeriod()=='0' ? m.getCurrentAbonnement().getNbrSessionCarnet() : 'illimité'}"></td>


  </tr>

</body>
</html>