<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="partials/layout.html">
<head th:insert="~{partials/sideBar  :: header}">
    <meta charset="UTF-8">
    <title>Enregistrement</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-6" style="height: 33rem;scrollbar-width: none;">
            <div class="card h-100" style="overflow-y: auto">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="mb-3 fw-bold" style="font-family: Arial, sans-serif;color: #4c5152">Session
                                d'aujourd'hui </h3>
                        </div>
                        <div class="col-md-6">
                            <a class="mb-3 float-end" onclick="restore()">Dernière enregistrements</a>
                        </div>
                    </div>
                    <div th:each="s:${TodaySession}" id="divC" class="divC" data-th-id="${s.id}"
                         onclick="myFunction($(this).attr('id'),this)">
                        <style>
                            .divC.clicked{
                                background-color: rgb(57, 3, 252);
                                border-radius: 4%;
                            }

                        </style>

                        <div class="card " style="margin-bottom: 4px ;background-color: rgba(210, 230, 230, 0.89); ">

                            <div class="card-body " style="padding: 9px;">
                                <div title="nombre des adherents enregistre" class="float-end"
                                     th:utext="${#lists.size(s.getCheckInsToday())}" style=" display: flex;
                                       align-items: center;
                                       justify-content: center;
                                       flex-direction: column;
                                       background-color: #85a2f0;
                                       width: 2rem;
                                       height: 2rem;
                                       border-radius: 50%;"></div>
                                <div class="media d-flex">

                                    <div class="media-body text-left ">

                                        <p class="text-info  fw-bold pp" th:if="${s.getStartTime() gt currentTime}">A
                                            venir</p>
                                        <p class="text-danger fw-bold pf" th:if="${s.getEndTime() lt currentTime}">
                                            Fini</p>
                                        <p class="text-success fw-bold pc"
                                           th:if="${s.getStartTime() le currentTime and s.getEndTime() ge currentTime }">
                                            En cours</p>
                                        <h4 class="fw-bold mt-1 " style="color: #3e6fb0"
                                            th:utext="${s.getStartTime()}+'-'+${s.getEndTime()}"></h4>
                                        <span class="fw-bold" style="color: #3a4456"
                                              th:utext="${s.getClassName()}"></span>
                                        <div class="small text-gray " th:utext="${s.getCoach()}"></div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6" style="height: 33rem;scrollbar-width: none;">
            <div class="card h-100" style=" overflow-y: auto;">
                <div class="card-body">
                    <div class="card-content" id="cardContent" style="overflow: auto;
  height: 100%;">
                        <div class="row">
                            <div class="col-md-6"><h3 class="mb-3 fw-bold"
                                                      style="font-family: Arial, sans-serif;color: #4c5152">Dernière
                                enregistrements</h3></div>
                            <div class="col-md-6">
<!--                                TODO : still not working-->
<!--                                <input type="date" id="selectedDate" name="selectedDate"  style="float: right;-->
<!--padding: 5px;-->
<!--color: #3b7ddd;-->
<!--border-top-style: none;border-right-style: none;border-bottom: 1px solid #134793;border-left-style: none;-->
<!--background: transparent;">-->
                            </div>
                        </div>


                        <table id="Dtable"
                               class="table table-centered table-hover table-responsive  table-nowrap mb-0 rounded ">

                            <tbody class="tbody">
                            <tr th:each="check:${checkin}" style="background-color: white">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img th:if="${check.getMember() != null && check.getMember().getPic() != null}"
                                             alt="user icon" th:src="@{'images/' + ${check.getMember().getPic()}}">

                                        <div class="d-block px-2">
                                            <span class="fw-bold" th:utext="${(check.getMember()?.getName() ?: 'member') + ' ' + (check.getMember()?.getLname() ?: '')}"></span>
                                            <div class="small text-gray" th:utext="${check.getSession()?.getClassName() ?: 'seance'}"></div>

                                            <div class="small text-gray"
                                                 th:utext="${check.getCheckinTime()}"></div>
                                        </div>
                                        <span class="float-end ms-7" th:utext="${check.getCheckinDate()}"></span>

                                    </div>
                                </td>


                            </tr>
                            </tbody>

                        </table>
                        <div id="empty-message" style="display: none;">
                            <img th:src="@{/icons/undraw_No_data_re_kwbl-removebg-preview.png}" style="width: 15rem;
height: 15rem;display: block;
margin: 0 auto;" alt="icon">
                            <div class="text-center" style="font-weight: bold;">Pas d'enregistrements pour aujourd'hui
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="data" class="divv hide">
            <a class="text-bg-light float-end mb-3 mx-2 btn btn-secondary eBtn" data-bs-toggle="modal"
               data-bs-target="#checkin" title="Check-in un Adhérent"><i data-feather="user-plus"></i></a>
            <table id="dataTable" class="table table-centered table-hover table-responsive  table-nowrap mb-0 rounded ">
                <tr style="background-color: white">
                    <th>Id</th>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Cin</th>

                </tr>
                <tbody class="tbody">

                </tbody>

            </table>

        </div>
    </div>
    <!-- check members in Modal -->
    <div class="modal fade" id="checkin" tabindex="-1" role="dialog" aria-labelledby="checkinLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="checkinlabel"></h3>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>

                <input type="text" id="myInput" onkeyup="search()" placeholder="CIN">
                <style>
                    #myInput {
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        font-size: 13px;
                        width: 410px;
                        margin-right: auto;
                        margin-left: auto;
                        margin-top: 8px;
                    }


                    #myInput:focus {
                        outline: none;
                        border-color: #007bff;
                        box-shadow: 0 0 5px #007bff;
                    }
                </style>
                <div  class="modal-body" style="position: relative;height: 33rem;overflow: auto;scrollbar-width: none;">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

                </div>
            </div>

        </div>
    </div>


    <style>
        .card-content.hide {
            display: none;
        }

        .table.hide {
            display: none
        }

        .table.show {
            display: table;
        }

        .divv.hide {
            display: none
        }

        .divv.show {
            display: block;
        }

        .card-content.show {
            display: block;
        }
    </style>


    <script>

        var originalContent = document.getElementById('cardContent').innerHTML;

        function myFunction(id,element) {
            $('.divC').removeClass('clicked');  // Remove the 'clicked' class from all elements
            $(element).addClass('clicked');
            $.get("/getCheckedInMembers?id=" + id, function (data) {
                $('#dataTable').find('.tbody').html(data);
            })
            $('#checkin').on('show.bs.modal', function () {
                $(".eBtn").click(function () {
                    $.get("/checkin?id=" + id, function (data) {
                        $('#checkin').find('.modal-body').html(data);
                    })
                })
            })
            var cardContent = document.getElementById('cardContent');
            var dataTable = document.getElementById('data');

            cardContent.textContent = '';

            var clonedTable = dataTable.cloneNode(true);
            clonedTable.classList.remove('hide');
            clonedTable.classList.add('show');
            cardContent.appendChild(clonedTable);
        }

        function restore() {

            var cardContent = document.getElementById('cardContent');
            var memberTable = document.getElementById('data');

            cardContent.innerHTML = originalContent;
            memberTable.classList.add('hide');
            if ($('#Dtable tr').length === 0) {
                $('#empty-message').show();
            } else {
                $('#empty-message').hide();

            }
        }


        $('#checkin').on('show.bs.modal', function () {
            var d = document.querySelector('.divC');
            var id = d.id;
            $(".eBtn").click(function () {
                $.get("/checkin?id=" + id, function (data) {
                    $('#checkin').find('.modal-body').html(data);
                })
            })
        })

        if ($('#Dtable tr').length === 0) {
            $('#empty-message').show();
        } else {
            $('#empty-message').hide();

        }
       /* const selectedDateInput = document.getElementById("selectedDate");
        function getCheckIns(date){
            fetch('/checkInsByDate?selectedDate='+date)

        }
        // Function to handle date change event
        function handleDateChange() {
            const selectedDate = selectedDateInput.value;
            console.log("Selected date:", selectedDate);
            getCheckIns(selectedDate);
        }

        // Attach event listener to date input
        selectedDateInput.addEventListener("change", handleDateChange);

        // Fetch data and generate chart on page load
        const initialDate = selectedDateInput.value; // Get the initial date value
        getCheckIns(initialDate);
*/


        function search() {
            var input, filter, table, tr, td, i, nameColumn;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("dTable");
            tr = table.getElementsByTagName("tr");
            nameColumn = 4; // Index of the column where cin are

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[nameColumn];
                if (td) {
                    var name = td.textContent || td.innerText;
                    if (name.toUpperCase().indexOf(filter.toUpperCase()) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }

                }
            }
        }


    </script>



</div>

</body>
</html>