<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="partials/layout.html">
<head th:insert="~{partials/sideBar:: header}">

  <title>Coach List</title>

</head>
<body>

<div layout:fragment="content">
        <div class="search-field d-none d-md-block">
          <form th:action="@{/search}" method="get" class="d-flex align-items-center mb-2 h-100">
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <i class="input-group-text border-0 bg-transparent pt-2 bi bi-search"></i>
              </div>
              <input type="text" class="form-control bg-transparent border-0" name="keyword"
                     th:value="${keyword}" placeholder="Chercher">
            </div>
          </form>
        </div>
    <button class="text-bg-light float-end mb-3 btn btn-primary " data-toggle="modal" data-target="#exampleModal"><i class="bi bi-person-plus"></i></button>
    <table class="table table-striped ">
      <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>email</th>
        <th>adress</th>
        <th>cin</th>
        <th>dob</th>
        <th>tele</th>
        <th>type de sport</th>
        <th>password</th>

        <th colspan="2">Action</th>
      </tr>
      <tr th:each="m:${listCoach}">
        <td th:utext="${m.getId()}"></td>
        <td class="py-1"><img th:if="${m.pic}"  alt="user icon" th:src="@{'images/'+${m.pic}}"></td>
        <td th:utext="${m.getName()}"></td>
        <td th:utext="${m.getLname()}"></td>
        <td th:utext="${m.getEmail()}"></td>
        <td th:utext="${m.getAdress()}"></td>
        <td th:utext="${m.getCin()}"></td>
        <td th:utext="${m.getDob()}"></td>
        <td th:utext="${m.getTele()}"></td>
        <td th:utext="${m.getSport_type()}"></td>
        <td th:utext="${m.getPassword()}"></td>

        <td><a onclick="return confirm('Vous avez sure?')" class="btn btn-danger"
               th:href="@{/deleteCoach(id=${m.id},keyword=${keyword}, page=${currentPage})}"> <i class="bi bi-trash"></i></a></td>
        <td><a th:href="@{/editCoach(id=${m.id})} " class="btn btn-info">
          <i class="bi bi-pencil"></i></a></td>
        </td>


      </tr>
    </table>
    <ul class="nav nav-pills">
      <li th:each="page,status:${pages}">
        <a
                th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                th:href="@{/index(page=${status.index}, keyword=${keyword})}"
                th:text="${status.index}">
        </a>
      </li>
    </ul>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter coach</h5>
        <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class="card align-content-center">
          <div class="card-body">
            <form  th:action="@{/addCoach}"
                   th:object="${CoachForm}" method="POST" enctype="multipart/form-data">
              <label class="form-label">Nom:</label>
              <input class="form-control" type="text"th:field="*{name}" />
              <label class="form-label">Prenom:</label>
              <input class="form-control" type="text" th:field="*{lname}"/>
              <label class="form-label">email:</label>
              <input class="form-control" type="text" th:field="*{email}"/>
              <label class="form-label">adress:</label>
              <input class="form-control" type="text" th:field="*{adress}"/>
              <label class="form-label">cin:</label>
              <input class="form-control" type="text" th:field="*{cin}"/>
              <label class="form-label">dob:</label>
              <input class="form-control" type="date" th:field="*{dob}"/>
              <label class="form-label">tele:</label>
              <input class="form-control" type="number" th:field="*{tele}"/>

              <label class="form-label">Password:</label>
              <input class="form-control" type="password" th:field="*{password}"/>
              <label class="form-label">Confirm password:</label>
              <input class="form-control" type="password"/>
              <label class="form-label" >type de sport:</label>
              <input class="form-control" type="text" th:field="*{sport_type}"/>
              <div class="mb-3 mt-3">
                <label class="form-label">Image</label>
                <input type="file" class="form-control  "
                       id="image" accept="image/png, image/jpeg" name="file"/>
              </div>
              <!--<label class="form-label">Gender:</label>

              <div class="form-check">

                <input class="form-check-input" type="radio" name="flexRadioDefault" value="female" id="flexRadioDefault1" th:field="*{gender}">
                <label class="form-check-label" for="flexRadioDefault1"  >
                  Female
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="male" id="flexRadioDefault2" th:field="*{gender}"checked>
                <label class="form-check-label" for="flexRadioDefault2" >
                  Male
                </label>
              </div>-->
              <input type="submit" class="btn btn-primary mt-2" value="Ajouter"/>
            </form>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

      </div>
    </div>
  </div>
</div>
  </div>
</body>
</html>