<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="partials/layout.html">

<head th:insert="~{partials/sideBar  :: header}">
    <meta charset="utf-8">


    <title>Chart</title>

</head>

<body>


<div layout:fragment="content">

    <input type="date" id="theDate" name="selectedDate" th:value="${today}"
           title="Choisir un jour pour obtenir ses revenus " style="
  color: #3b7ddd;
  border-top-style: none;
  border-right-style: none;
  border-bottom: 1px solid #134793;
  border-left-style: none;
  background: transparent;
  flex: auto;
  margin-left: 22rem;
  margin-right: 48rem;
  margin-bottom: 5px;">

    <div class="row">
        <div class="col-xl-6 col-xxl-5 d-flex">

            <div class="w-100">

                <div class="row" style="margin-top: 18px;">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Adherents</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="align-middle" data-feather="users"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3" style="color: #284d82;" th:utext="${countM}"></h1>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Entaineurs</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="align-middle" data-feather="users"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3" style="color: #284d82;" th:utext="${countC}"></h1>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">

                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Les revenus</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="align-middle" data-feather="dollar-sign"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 id="totalPrice" class="mt-1 mb-3" style="color: #284d82;"
                                    th:utext="${price+' '+'DH'}"></h1>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Enregistrements par semaine</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="align-middle" data-feather="shopping-cart"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3" style="color: #284d82;" th:utext="${size}"></h1>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-xxl-7">
            <div class="card flex-fill w-100" style="height: 8.8cm !important;">
                <div class="card-header">
                    <h5 class="card-title">Le diagramme circulaire</h5>
                    <h6 class="card-subtitle text-muted">Ce diagramme circulaire montre le nombre d'utilisations de
                        chaque adhésion par les membres.</h6>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <canvas id="membershipChart"></canvas>
                        <div id="legend" style="float: right;margin: 10px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 " style="overflow-x: auto; max-height: 402px;scrollbar-width: none;">
            <input type="text" id="tele" onkeyup="searchMember()" placeholder="Telephone">
            <style>
                #tele {
                    padding: 10px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    font-size: 12px;
                    width: 18.5cm;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 11px;
                }


                #tele:focus {
                    outline: none;
                    border-color: #007bff;
                    box-shadow: 0 0 5px #007bff;
                }
            </style>
            <table id="IndexTable" class="table table-centered table-hover table-responsive">
                <tr>

                    <th>Id</th>
                    <th>Adhérent</th>

<!--                    <th>Cin</th>-->
                    <th>Tele</th>
                    <th>Inscrie le</th>
                    <th>Abonnement</th>
                    <th>Status</th>
                </tr>
                <tr th:each="m:${members}" data-th-id="${m.id}"
                    onclick="getProfile($(this).attr('id'))">
                    <script>
                        function getProfile(id) {

                            window.location.href = "/membersList/userProfile?id=" + id;
                        }
                    </script>

                    <td th:utext="${m.getId()}"></td>
                    <td>
                        <div class="user-info">
                            <div class="user-info__img">
                                <img th:if="${m.pic}" alt="user icon" th:src="@{'/images/'+${m.pic}}">
                            </div>
                            <div class="user-info__basic">
                                <h5 class="mb-0" th:utext="${m.getName()}+' '+${m.getLname()}"></h5>
                                <p class="text-muted mb-0" th:utext="${m.getEmail()}"></p>
                            </div>
                        </div>
                    </td>

                    <!--<td class="py-1"><img th:if="${m.pic}"  alt="user icon" th:src="@{'images/'+${m.pic}}"></td>
                    <td th:utext="${m.getName()}"></td>
                    <td th:utext="${m.getLname()}"></td>
                    <td th:utext="${m.getEmail()}"></td>-->


<!--                    <td th:utext="${m.getCin()}"></td>-->
                    <td th:utext="${m.getTele()}"></td>
                    <td th:utext="${m.createdAt}"></td>
                    <td  th:utext="${m.getCurrentAbonnement()!= null ? m.getCurrentAbonnement().getNameAb() : ''}"></td>
                    <td>
                        <p class="text-secondary fw-bold mb-1" style="color: #0cb930  !important;"
                           th:if="${m.status == 'Active'}" th:utext="${m.status}"></p>
                        <p class="text-secondary fw-bold mb-1" style="color: #ff0606  !important;"
                           th:if="${m.status == 'Inactive'}" th:utext="${m.status}"></p>

                    </td>

                </tr>
            </table>
        </div>
        <div class="col-md-5" style="margin-top: 13px">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Graphique à barres</h5>
                    <h6 class="card-subtitle text-muted">Ce Graphique à barres afficher le nombre d'enregistrements
                        effectués chaque jour de cette semaine.</h6>  <input type="date" id="selectedDate"
                                                                             name="selectedDate" th:value="${today}"
                                                                             style="float: right;
padding: 5px;
color: #3b7ddd;
border-top-style: none;border-right-style: none;border-bottom: 1px solid #134793;border-left-style: none;
background: transparent;margin-top: -17px">
                </div>
                <div class="card-body">
                    <div class="chart chart-sm text-center">

                        <canvas id="chartjs-bar"></canvas>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const selectedDateInput = document.getElementById("selectedDate");

            // Function to fetch data and generate chart
            function fetchDataAndGenerateChart(date) {
                fetch('/checkInStatistic?selectedDate=' + date)
                    .then(response => response.json())
                    .then(data => {
                        const labels = ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"];
                        const checkInCount = labels.map(day => data[day.toLowerCase()] || 0);

                        new Chart(document.getElementById("chartjs-bar"), {
                            type: "bar",
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: "Check-ins",
                                    backgroundColor: "#30639f",
                                    borderColor: "#30639f",
                                    hoverBackgroundColor: window.theme.primary,
                                    hoverBorderColor: window.theme.primary, data: checkInCount,
                                    barPercentage: .75,
                                    categoryPercentage: .5
                                }]
                            },
                            options: {
                                maintainAspectRatio: false,
                                legend: {
                                    display: false
                                },
                                scales: {
                                    yAxes: [{
                                        gridLines: {
                                            display: false
                                        },
                                        stacked: false,
                                        ticks: {
                                            stepSize: 1
                                        }
                                    }],
                                    xAxes: [{
                                        stacked: false,
                                        gridLines: {
                                            color: "transparent"
                                        }
                                    }]
                                }
                            }
                        });
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }

            // Function to handle date change event
            function handleDateChange() {
                const selectedDate = selectedDateInput.value;
                console.log("Selected date:", selectedDate);
                fetchDataAndGenerateChart(selectedDate);
            }

            // Attach event listener to date input
            selectedDateInput.addEventListener("change", handleDateChange);

            // Fetch data and generate chart on page load
            const initialDate = selectedDateInput.value; // Get the initial date value
            fetchDataAndGenerateChart(initialDate);
        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Fetch data from REST controller


            fetch('/memberShipStatistic')

                .then(response => response.json())
                .then(data => {
                    // Extract labels and values from the data
                    const labels = Object.keys(data);
                    const values = Object.values(data);

                    // Pie chart
                    new Chart(document.getElementById("membershipChart"), {
                        type: "pie",
                        data: {
                            labels: labels,
                            datasets: [{
                                data: values,
                                backgroundColor: [
                                    window.theme.primary,
                                    "#39afaf",
                                    "#a81111",
                                    "#dee2e6"
                                ],
                                borderColor: "transparent"
                            }]
                        },
                        options: {
                            maintainAspectRatio: false,
                            legend: {
                                display: true
                            }
                        }
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        function filterData() {
            const dates = [...labels];
            console.log(dates);
        }

        function searchMember() {
            var input, filter, table, tr, td, i, nameColumn;
            input = document.getElementById("tele");
            filter = input.value.toUpperCase();
            table = document.getElementById("IndexTable");
            tr = table.getElementsByTagName("tr");
            nameColumn = 2; // Index of the column where tele are

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[nameColumn];
                if (td) {
                    var name = td.textContent || td.innerText;
                    if (name.toUpperCase().indexOf(filter.toUpperCase()) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }

                }
            }
        }

        $(document).ready(function () {
            const selectedDateInput = document.getElementById("theDate");

            function handleDateChange() {
                const selectedDate = selectedDateInput.value;
                console.log("Selected date:", selectedDate);
                updateTotalPrice(selectedDate);
            }

            selectedDateInput.addEventListener("change", handleDateChange);

            function updateTotalPrice(date) {
                $.ajax({
                    url: `/totalPrice?selectedDate=${date}`,
                    type: "GET",
                    success: function (data) {
                        $("#totalPrice").text(data);

                    },
                    error: function () {
                        console.log("Error fetching total price.");
                    }
                });
            }

            // Fetch and display total price on page load
            const initialDate = selectedDateInput.value;
            updateTotalPrice(initialDate);
        });

    </script>


</div>
</body>

</html>