<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Invoice</title>

    <style>
        img {
            width: 30%;
            height: auto;
        }
        .para{
            float: end;
        }
    </style>
</head>
<body>
<img src="uploads/gym.png" alt="img"></img>
<h1 style="text-align: center">Reçu</h1>
<div class="row" >
    <div class="col-md-6" style="flex: 0 0 auto;
      width: 50%; ">
        <p th:text="'N° de paiment : '+${payment.getId()}"></p>
        <p th:text="'Adherent : Mr/Me '+${#strings.capitalize(payment.getMember().getName())}+' '+${#strings.capitalize(payment.getMember().getLname())}"></p>
    </div>
    <div class="col-md-6" style="flex: 0 0 auto;
      width: 50%; ">
        <p th:text="'La date de paiment : '+${payment.getPayedAt()}"></p>
        <p th:text="'La address : '+${payment.getMember().getAdress()}"></p></div>
</div>

<table class="table-bordered " style="margin-left: auto;
    margin-right: auto; border: 1px solid #dee2e6;width: 100%;
max-width: 100%;
margin-bottom: 1rem;
background-color: transparent;border-collapse: collapse;">
    <thead>
    <tr style="background-color: #0d98f5">
        <th style=" padding: 8px;">Numero d'abonnment</th>
        <th style=" padding: 8px;">Nom d'abonnment</th>
        <th style=" padding: 8px;">Period d'abonnment</th>
        <th style=" padding: 8px;">Montant</th>
        <th style="padding: 8px;">Payer par</th>
    </tr>
    </thead>
    <tbody>


    <tr>
        <td style="padding: 5px;" th:text="${payment.getAbonnement().getId()}"></td>
        <td style="padding: 5px;" th:text="${payment.getAbonnement().getNameAb()}"></td>
        <td style="padding: 5px;" th:text="'De '+${payment.getStart_date()}+' A '+${payment.getEnd_date()}"></td>
        <td style="padding: 5px;" th:text="${payment.getAbonnement().getPrice()}"></td>
        <td style="padding: 6px;" th:text="${payment.payedBy}"></td>
    </tr>

    </tbody>

</table>
<p style="float: right">Signature</p>
</body>
</html>
