<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="partials/layout.html">
<head th:insert="~{partials/sideBar :: header}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<table class="table table-striped ">
    <tr>
        <th>ID</th>
        <th>Type d'abonnement</th>
        <th>Prix</th>
        <th>Period</th>

        <th >Action</th>
    </tr>
    <tr th:each="ab:${listAb}">
        <td th:utext="${ab.getId()}"></td>
        <td th:utext="${ab.getNameAb()}"></td>
        <td th:utext="${ab.getPrice()}"></td>
        <td th:utext="${ab.getPeriod()}"></td>

        <td><a onclick="return confirm('Vous avez sure')" class="btn btn-danger"
               th:href="@{/deleteAbonnement(id=${ab.id},keyword=${keyword}, page=${currentPage})}"> <i class="bi bi-trash"></i></a>
            <a th:href="@{/editAbonnement(id=${ab.id})} " class="btn btn-info "><i class="bi bi-pencil"></i></a>
            <a th:href="@{/getMembers(ab=${ab.getId()})} " data-toggle="modal" data-target="#listMembersModal" class="btn btn-outline-info"><i class="bi bi-eye"></i></a></td>


    </tr>
</table>


</body>
</html>