<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="partials/layout.html">
<head th:insert="~{partials/sideBar  :: header}">
    <title>Member List</title>

</head>
<body>
<div layout:fragment="content">
    <div class="search-field d-none d-md-block ">
        <form th:action="@{/search}" method="get" class="d-flex align-items-center mb-2 h-100">
            <div class="input-group mb-3">
                <div class="input-group-prepend bg-transparent">
                    <i class="input-group-text border-0 bg-transparent pt-2 bi bi-search"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" name="keyword"
                       th:value="${keyword}" placeholder="Chercher">
            </div>
        </form>
    </div>
    <a th:href="@{/membersList/export/pdf}" class="text-bg-light float-end mb-3 mx-2 btn btn-secondary " style="border-radius: 15px;"><i data-feather="printer"></i></a>
    <button class="btn btn-primary btn-rounded float-end mb-3 mx-2" data-toggle="modal"
            data-target="#exampleModal"><i class="bi bi-person-plus me-1"></i>Ajouter</button>
    <form th:action="@{/deleteCells}" method="post">
    <button class=" float-start mb-3 btn btn-rounded  mx-2 " style="background-color: #f34444;color:white" type="submit" onclick="return confirm('Vous avez sure?')" ><i class="bi bi-trash me-1"></i>Supprimer</button>

    <table class="table table-centered table-hover table-responsive">
        <tr>
            <th><input type="checkbox" class="selectall" data-target="requests-all"/></th>

            <th>Id</th>
            <th>Adhérent</th>
            <th>Adresse</th>
            <th>Cin</th>
            <th>Date de naissance</th>
            <th>Tele</th>
            <th>Sexe</th>

            <th>Abonnement</th>
            <th colspan="2">Action</th>
        </tr>
        <tr th:each="m:${listMember}" >
            <td>
            <input type="checkbox" name="selectedCells" data-target="requests-all"
                   th:value="${m.id}" />
            </td>
            <td th:utext="${m.getId()}"></td>
            <td data-th-id="${m.id}"
                onclick="getProfile($(this).attr('id'))">
                <div class="user-info">
                    <div class="user-info__img">
                    <img th:if="${m.pic}" alt="user icon" th:src="@{'/images/'+${m.pic}}">
                </div>
                    <div class="user-info__basic">
                        <h5 class="mb-0" th:utext="${m.getName()}+' '+${m.getLname()}"></h5>
                        <p class="text-muted mb-0" th:utext="${m.getEmail()}"></p>
                    </div>
                </div>
            </td>

            <!--<td class="py-1"><img th:if="${m.pic}"  alt="user icon" th:src="@{'images/'+${m.pic}}"></td>
            <td th:utext="${m.getName()}"></td>
            <td th:utext="${m.getLname()}"></td>
            <td th:utext="${m.getEmail()}"></td>-->

            <td th:utext="${m.getAdress()}"></td>
            <td th:utext="${m.getCin()}"></td>
            <td th:utext="${m.getDob()}"></td>
            <td th:utext="${m.getTele()}"></td>
            <td th:utext="${m.getGender()}"></td>

            <td th:utext="${m.abonnement}"></td>
            <td><a onclick="return confirm('Vous avez sure?')"
                   th:href="@{/deleteMember(id=${m.id},keyword=${keyword}, page=${currentPage})}"> <i
                    class="bi bi-trash iconT"></i></a></td>
            <td><a data-th-id="${m.id}" data-bs-toggle="modal" data-bs-target="#editModal" class="eBtn">
                <i class="bi bi-pencil-square iconE "></i></a></td>


        </tr>
    </table></form>
    <ul class="nav nav-pills">
        <li th:each="page,status:${pages}" >
            <a
                    th:class="${status.index==currentPage?'btn pBtn btn-info ms-2':'btn oBtn btn-outline-info ms-2'}"
                    th:href="@{/membersList(page=${status.index}, keyword=${keyword})}"
                    th:text="${status.index}">
            </a>
        </li>
    </ul>

<!--Add Member Modal-->
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Ajouter adhérent</h3>
                    <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">
                    <div class="card align-content-center">
                        <div class="card-body">
                            <form th:action="@{/addMember}"
                                  th:object="${memberForm}" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Nom:</label>
                                            <input class="form-control" type="text"th:field="*{name}" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Prénom:</label>
                                            <input class="form-control" type="text" th:field="*{lname}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Email:</label>
                                            <input class="form-control" type="text" th:field="*{email}"/>
                                        </div></div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Tele:</label>
                                            <input class="form-control" type="tel" th:field="*{tele}"/>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Cin:</label>
                                            <input class="form-control" type="text" th:field="*{cin}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Date de naissance:</label>
                                            <input class="form-control" type="date" th:field="*{dob}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                        <div class="form-outline">
                                            <label class="form-label">Adresse:</label>
                                            <input class="form-control" type="text" th:field="*{adress}"/>
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                                        <h6 class="form-label mb-0 me-4 mt-3">Sexe:</h6>

                                        <div class="form-check form-check-inline mb-0 me-4 mt-3">

                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   value="Femme" id="flexRadioDefault1" th:field="*{gender}">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Femme
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline mb-0 me-4 mt-3">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                   value="Homme" id="flexRadioDefault2" th:field="*{gender}" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Homme
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Mot de pass:</label>
                                            <input class="form-control" type="password" th:field="*{password}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Confirm mot de pass:</label>
                                            <input class="form-control" type="password"/>
                                        </div>
                                    </div>
                                </div>

                                <label class="form-label">Abonnement</label>
                                <select name="abonnement" id="abonnement" class="form-control mb-3">
                                    <option th:each="abonnement :${abos}" th:value="${abonnement.id}"
                                            th:text="${abonnement.nameAb}"></option>
                                </select>

                                <div class="mb-3 mt-3">
                                    <label class="form-label">Image</label>
                                    <input type="file" class="form-control  "
                                           id="image" accept="image/png, image/jpeg" name="file"/>
                                </div>


                                <input type="submit" class="btn btn-primary mt-2" value="Ajouter"/>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Edit Member Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="editModallabel">Edit Adhérent</h3>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script th:src="@{/webjars/jquery/3.6.2/jquery.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>

    <script>

        $('#editModal').on('show.bs.modal', function () {

            $(".eBtn").click(function () {
                var id = $(this).attr('id');
                $.get("/editMember?id=" + id, function (data) {
                    $('#editModal').find('.modal-body').html(data);
                })
            })
        })

        function getSelectedCells() {
            var selectedCells = [];
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');

            checkboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    var cellId = checkbox.value;
                    selectedCells.push(cellId);
                }
            });

            console.log('Selected Cells:', selectedCells);
        }
        function getProfile(id){

            window.location.href = "/userProfile?id=" + id;
        }
    </script>


</div>
</body>
</html>