<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Check members in</title>
</head>
<body>

<form th:action="@{/checkin}" method="post" >

<table id="dTable"  class="table table-centered table-hover table-responsive  table-nowrap mb-0 rounded ">




    <tr style="background-color: white">
        <input type="hidden" name="id" th:value="*{sessionId}">
        <th><input type="checkbox" class="selectall" data-target="requests-all"/></th>

        <th>Image</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Cin</th>
        <th>Numero de tele</th>
        <th>Status</th>
        <th>Nombres des seances</th>

    </tr>
    <tbody class="tbody">
    <tr th:each="m:${membersList}" style="background-color: white">
        <td>
            <input type="checkbox" name="selectedCells" data-target="requests-all"
                   th:value="${m.id}" th:disabled="${m.status == 'Inactive'}"  />
        </td>

        <td class="py-1"><img style="width: 50px;height: 50px;" th:if="${m.pic}"  alt="user icon" th:src="@{'/images/'+${m.pic}}"></td>
        <td th:utext="${m.getName()}"></td>
        <td th:utext="${m.getLname()}"></td>
        <td th:utext="${m.getCin()}"></td>
        <td th:utext="${m.getTele()}"></td>
        <td>
            <p class="text-secondary fw-bold mb-1" style="color: #0cb930  !important;" th:if="${m.status == 'Active'}" th:utext="${m.status}"></p>
            <p class="text-secondary fw-bold mb-1" style="color: #ff0606  !important;" th:if="${m.status == 'Inactive'}" th:utext="${m.status}"></p>

        </td>
        <td style="font-weight: bold;color: #3c1dab;text-align: center"  th:utext="${(m.getCurrentAbonnement()!=null) && (m.getCurrentAbonnement().getAbonnement().getPeriod()=='0')? m.getCurrentAbonnement().getNbrSessionCarnet() : 'illimité'} "></td>


    </tr>
    </tbody>

</table>
<button type="submit" class="btn btn-primary mt-2">Enregistre</button>

</form>

</body>
</html>