<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="partials/layout.html">
<head th:insert="~{partials/sideBar:: header}">

    <title>Paiment List</title>


</head>
<body>
<div layout:fragment="content">
    <div class="search-field d-none mb-1 d-md-block">
        <form th:action="@{/paymentList/search}" method="get" class="d-flex align-items-center mb-2 h-100">
            <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                    <i class="input-group-text border-0 bg-transparent pt-2 bi bi-search"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" name="keyword"
                       th:value="${keyword}" placeholder="Chercher">
            </div>
        </form>
    </div>
    <table class="table table-centered table-hover table-responsive mt-3">
        <tr>
            <th>Id</th>
            <th>Type d'abonnement</th>
            <th>Adherent</th>
            <th>Montant a paye</th>
            <th>Date de debut</th>
            <th>Date de fin</th>
            <th>Statue</th>


            <th colspan="2">Action</th>
        </tr>
        <tr th:each="p:${paymentList}">
            <td th:utext="${p.getId()}"></td>
            <td th:utext="${p.abonnement}"></td>
            <td th:utext="${p.getMember()}"></td>
            <td th:utext="${p.getAbonnement().price}+' DH'"></td>
            <td th:utext="${p.getStart_date()}"></td>
            <td th:utext="${p.getEnd_date()}"></td>

            <td class="text-center">
              <p class="badge bg-success m-0" th:if="${p.getStatue() == 'Payé'}">Payé</p>
              <p class="badge bg-danger m-0" th:if="${p.getStatue() == 'Impayé'}">Impayé</p>
            </td>
            <td><a  th:class="${p.getStatue() == 'Payé' ? 'hide' : 'btn btn-info pBn'}" data-th-id="${p.getId()}" data-bs-toggle="modal" data-bs-target="#payment">Payer</a>
                <a th:if="${p.getStatue() == 'Payé'}" href="#" class="btn btn-light text-dark inv" data-th-id="${p.getId()}" th:href="@{/invoice(id=${p.getId()})}"  >Recu</a>
                <style>
                    .hide{
                        display: none;
                    }
                    .show{
                        display: block;
                    }
                </style>
            </td>


        </tr>
    </table>
     <ul class="nav nav-pills">
       <li th:each="page,status:${pages}">
         <a
                 th:class="${status.index==currentPage?'btn pBtn btn-info ms-2':'btn oBtn btn-outline-info ms-2'}"
                 th:href="@{/paymentList(page=${status.index}, keyword=${keyword})}"
                 th:text="${status.index}">
         </a>
       </li>
     </ul>

    <!-- Payment Modal -->
    <div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="paymentLabel"
         aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="paymentlabel"></h3>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Payment Modal -->
    <div class="modal fade" id="invoice" tabindex="-1" role="dialog" aria-labelledby="invoiceLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="invoicelabel"></h3>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">

                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    <!-- jQuery library -->
    <script th:src="@{/webjars/jquery/3.6.2/jquery.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
    <script>
        function generateAndDownloadInvoice(paymentId) {
            // Send an AJAX request to the server to generate the invoice
            $.ajax({
                type: "GET",
                url: "/invoice?id="+paymentId,
                data: { id: paymentId },
                success: function(response) {
                    // Create a Blob from the response data
                    var blob = new Blob([response], { type: "application/pdf" });

                    // Create a temporary URL for the Blob
                    var url = URL.createObjectURL(blob);

                    // Create a link element and set its attributes
                    var link = document.createElement("a");
                    link.href = url;
                    link.download = "invoice.pdf";

                    // Append the link to the document and click it programmatically to trigger the download
                    document.body.appendChild(link);
                    link.click();

                    // Clean up the temporary URL and remove the link element
                    URL.revokeObjectURL(url);
                    document.body.removeChild(link);
                },
                error: function() {
                    alert("Failed to generate the invoice.");
                }
            });
        }


        $('#payment').on('show.bs.modal', function () {

            $(".pBn").click(function () {
                var id = $(this).attr('id');

                $.get("/paymentList/pay?id=" + id, function (data) {
                    $('#payment').find('.modal-body').html(data);
                })
            })


        })
       /* $('#invoice').on('show.bs.modal', function () {

            $(".inv").click(function () {
                var id = $(this).attr('id');

                $.get("/invoice?id=" + id, function (data) {
                    $('#invoice').find('.modal-body').html(data);
                })
            })


        })*/
    </script>

</div>
</body>
</html>