<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="partials/layout.html">
<head th:insert="~{partials/sideBar:: header}">

  <title>Paiment List</title>





</head>
<body>
<div layout:fragment="content">
  <div class="search-field d-none d-md-block">
    <form th:action="@{/search}" method="get" class="d-flex align-items-center mb-2 h-100">
      <div class="input-group">
        <div class="input-group-prepend bg-transparent">
          <i class="input-group-text border-0 bg-transparent pt-2 bi bi-search"></i>
        </div>
        <input type="text" class="form-control bg-transparent border-0" name="keyword"
               th:value="${keyword}" placeholder="Chercher">
      </div>
    </form>
  </div>
  <table class="table table-centered table-hover table-responsive mt-3">
    <tr>
      <th>Id</th>
      <th>Type d'abonnement</th>
      <th>Adherent</th>
      <th>Date de debut</th>
      <th>Date de fin</th>
<th>Statue</th>


      <th colspan="2">Action</th>
    </tr>
    <tr th:each="p:${paymentList}">
      <td th:utext="${p.getId()}"></td>
      <td th:utext="${p.abonnement}"></td>
      <td th:utext="${p.getMember()}" ></td>
      <td th:utext="${p.getStart_date()}"></td>
      <td th:utext="${p.getEnd_date()}"></td>
      <td><span class="badge bg-danger">Impayée</span></td>
      <td><a  class="btn btn-success">Payer</a></td>






    </tr>
  </table>
  <ul class="nav nav-pills">
    <li th:each="page,status:${pages}">
      <a
              th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
              th:href="@{/index(page=${status.index}, keyword=${keyword})}"
              th:text="${status.index}">
      </a>
    </li>
  </ul>



</div>
</body>
</html>