<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="partials/layout.html">
<head th:insert="~{partials/sideBar  :: header}">
    <meta charset="UTF-8">
    <title>Profil</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="main-body">


        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img th:if="${userPic}" alt="user icon" class="rounded-circle" style="width: 212px;
height: 212px;
object-fit: cover;"
                                 th:src="@{'images/'+${userPic}}">
                            <div class="mt-3">
                                <h4 class="fw-bold mt-3" style="color: #30639f;"
                                    th:utext="${#strings.capitalize(userName)}+' '+${#strings.capitalize(userLname)}"></h4>
                                <p class="text-secondary fw-bold mb-1" th:utext="${email}"></p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form th:action="@{/editAdminProfile}" method="post"
                      th:if="${#authorization.expression('hasAuthority(''ADMIN'') or hasAuthority(''SUBADMIN'')')}">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <input type="hidden" name="pic" th:value="${userPic}">
                    <input type="hidden" name="roles" th:value="${user.roles.role_id}">
                    <input type="hidden" name="password" th:value="${user.password}">
                    <img th:if="${user.pic}" alt="user icon" class="rounded-circle hidden"
                         th:src="@{'images/'+${user.pic}}">
                    <style>
                        .hidden {
                            display: none;
                        }
                    </style>
                    <div class="card h-100" style="background-color: #598edb26;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row me-1">
                                        <div class="col-sm-3 d-flex align-items-center">
                                            <h6 class="mb-0">Nom</h6>
                                        </div>

                                        <input class="col-sm-9 text-secondary input" th:field="*{user.name}">
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="row me-1">
                                        <div class="col-sm-3 d-flex align-items-center">
                                            <h6 class="mb-0">Prénom</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary input" th:field="${user.lname}">
                                        </input>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row me-1">
                                        <div class="col-sm-3 d-flex align-items-center">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary input" th:field="*{user.email}">
                                        </input>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="row me-1">
                                        <div class="col-sm-3 d-flex align-items-center">
                                            <h6 class="mb-0">Tele</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary input" th:field="*{user.tele}">

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row me-1">
                                        <div class="col-sm-3 d-flex align-items-center">
                                            <h6 class="mb-0">Cin</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary input" th:field="*{user.cin}">
                                        </input>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="row me-1">
                                        <div class="col-sm-7 d-flex align-items-center">
                                            <h6 class="mb-0">Date de naissance</h6>
                                        </div>
                                        <input class="col-sm-5 text-secondary input" th:field="*{user.dob}">
                                        </input>
                                    </div>

                                </div>

                                <input type="hidden" th:if="${#authorization.expression('hasAuthority(''COACH'') ')}"
                                       th:value="${user.sport_type}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-3 d-flex align-items-center">
                                                <h6 class="mb-0">Adresse</h6>
                                            </div>
                                            <input class="col-sm-9 text-secondary input" th:field="*{user.adress}">
                                            </input>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <button class="btn btn-info" type="submit" style="float: right;
margin-top: 4px;
margin-right: 8px;">Sauvegarder
                            </button>
                        </div>

                    </div>
                </form>
                <style>
                    .col-sm-5.text-secondary.input,
                    .col-sm-9.text-secondary.input {
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        outline: none;
                        display: block;
                        width: 100%;
                        padding: 7px;
                        border: none;
                        border-bottom: 1px solid #9997ba;
                        background: transparent;
                        margin-bottom: 10px;
                        font: 16px Arial, Helvetica, sans-serif;
                        height: 45px;
                        margin-left: 4px;
                    }

                    .mb-0 {
                        font-weight: bold;
                        color: #30639f;
                    }

                    .col-sm-9.text-secondary.input:focus {
                        border-bottom: 2px solid #16a7d3;
                    }
                </style>
                <form th:action="@{/editCoachProfile}" method="POST" enctype="multipart/form-data"
                      th:if="${#authorization.expression('hasAuthority(''COACH'')')}">
                    <input type="hidden" id="id" name="id" th:value="${coach.id}">
                    <input type="hidden" id="pic" name="pic" th:value="${userPic}">
                    <input type="hidden" name="roles" th:value="${coach.roles.role_id}">
                    <input type="hidden" name="password" th:value="${coach.password}">
                    <img th:if="${coach.pic}" alt="user icon" class="rounded-circle hidden"
                         th:src="@{'images/'+${coach.pic}}">
                    <style>
                        .hidden {
                            display: none;
                        }
                    </style>
                    <div class="card h-100" style="background-color: #598edb26;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row me-1">
                                        <div class="col-sm-3 d-flex align-items-center">
                                            <h6 class="mb-0">Nom</h6>
                                        </div>

                                        <input class="col-sm-9 text-secondary input" th:field="*{coach.name}">
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="row me-1">
                                        <div class="col-sm-3 d-flex align-items-center">
                                            <h6 class="mb-0">Prénom</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary input" th:field="*{coach.lname}">
                                        </input>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row me-1">
                                        <div class="col-sm-3 d-flex align-items-center">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary input" th:field="*{coach.email}">
                                        </input>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="row me-1">
                                        <div class="col-sm-3 d-flex align-items-center">
                                            <h6 class="mb-0">Tele</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary input" th:field="*{coach.tele}">

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row me-1">
                                        <div class="col-sm-3 d-flex align-items-center">
                                            <h6 class="mb-0">Cin</h6>
                                        </div>
                                        <input class="col-sm-9 text-secondary input" th:field="*{coach.cin}">
                                        </input>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="row me-1">
                                        <div class="col-sm-7 d-flex align-items-center">
                                            <h6 class="mb-0">Date de naissance</h6>
                                        </div>
                                        <input class="col-sm-5 text-secondary input" th:field="*{coach.dob}">
                                        </input>
                                    </div>

                                </div>

                                <input type="hidden" th:if="${#authorization.expression('hasAuthority(''COACH'') ')}"
                                       name="sport_type" th:value="${coach.sport_type}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-3 d-flex align-items-center">
                                                <h6 class="mb-0">Adresse</h6>
                                            </div>
                                            <input class="col-sm-9 text-secondary input" th:field="*{coach.adress}">
                                            </input>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <button class="btn btn-info" type="submit" style="float: right;
margin-top: 4px;
margin-right: 8px;">Sauvegarder
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="card mt-4" th:if="${#authorization.expression('hasAuthority(''COACH'')')}">
            <div class="card-header" style="background-color: #4c7abd;">
                <h3 style=" font-family: Arial, sans-serif !important;color: whitesmoke">Les enregistrements</h3>
            </div>
            <table class="table table-centered table-hover table-responsive mt-3">
                <tr style="background-color: #e0e7f46b!important;">
                    <th>id de seance</th>
                    <th>Seance</th>
                    <th>La date d'enregistrement</th>
                    <th>Le temps d'enregistrement</th>
                </tr>


                <tr th:each="check:${coachCheckIn}" style="background-color: white">
                    <td style="color: #646fd5;font-weight: bold;" th:utext="${check.getId}"></td>
                    <td style="font-weight: bold" th:utext="${check.getSession().getClassName()}"></td>

                    <td style="color: #646fd5;font-weight: bold;" th:utext="${check.getCheckinDate()}"></td>
                    <td style="color: #646fd5;font-weight: bold;" th:utext="${#temporals.format(check.getCheckinTime(),'HH:mm')}"></td>

                </tr>
            </table>

        </div>
    </div>
</div>
<style>

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm > .col, .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3, .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

</style>
</body>
</html>