<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="partials/layout.html">
<head th:insert="~{partials/sideBar:: header}">

  <title>Seance List</title>





</head>
<body>
<div layout:fragment="content">
        <div class="search-field d-none d-md-block">
          <form th:action="@{/search}" method="get" class="d-flex align-items-center mb-2 h-100">
            <div class="input-group">
              <div class="input-group-prepend bg-transparent">
                <i class="input-group-text border-0 bg-transparent pt-2 bi bi-search"></i>
              </div>
              <input type="text" class="form-control bg-transparent border-0" name="keyword"
                     th:value="${keyword}" placeholder="Chercher">
            </div>
          </form>
        </div>
        <button class="text-bg-light float-end mb-3 btn btn-primary " data-toggle="modal" data-target="#exampleModal"><i class="bi bi-plus-circle"></i></button>
        <table class="table table-striped ">
          <tr>
            <th>Id</th>
            <th>Seance</th>
            <th>Temps de debut</th>
            <th>Temps de fin</th>
            <th>Entraineur</th>

            <th colspan="2">Action</th>
          </tr>
          <tr th:each="s:${listSeance}">
            <td th:utext="${s.getId()}"></td>
            <td th:utext="${s.getClassName()}"></td>
            <td th:utext="${s.getStart_time()}" th:text="${#temporals.format(standardDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
            <td th:utext="${s.getEnd_time()}"></td>

            <td th:utext="${s.coach}" ></td>

            <td><a onclick="return confirm('Vous avez sure?')" class="btn btn-danger"
                   th:href="@{/deleteSeance(id=${s.id},keyword=${keyword}, page=${currentPage})}"> <i class="bi bi-trash"></i></a></td>
            <td><a th:href="@{/editSeance(id=${s.id})} " class="btn btn-info">
              <i class="bi bi-pencil"></i></a></td>
            </td>


          </tr>
        </table>
        <ul class="nav nav-pills">
          <li th:each="page,status:${pages}">
            <a
                    th:class="${status.index==currentPage?'btn btn-info ms-1':'btn btn-outline-info ms-1'}"
                    th:href="@{/index(page=${status.index}, keyword=${keyword})}"
                    th:text="${status.index}">
            </a>
          </li>
        </ul>


      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ajouter seance</h5>
              <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">

              </button>
            </div>
            <div class="modal-body">
              <div class="card align-content-center">
                <div class="card-body">
                  <form  th:action="@{/addSeance}"
                         th:object="${seance}" method="POST">
                    <label class="form-label">Seance:</label>
                    <input class="form-control" type="text"th:field="*{className}" />
                    <label class="form-label">Temps de debut</label>
                    <input class="form-control" type="datetime-local" th:field="*{start_time}"/>
                    <label class="form-label">Temps de fin</label>
                    <input class="form-control" type="datetime-local" th:field="*{end_time}"/>

                    <label class="form-label">Entraineur</label>

                    <select name="coach" id="coach" class="form-control mb-4">
                      <option th:each="coach : ${coaches}" th:value="${coach.id}"
                              th:text="${coach.name}"></option>
                    </select>
                    <input type="submit" class="btn btn-primary mt-2" value="Ajouter"/>
                  </form>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

            </div>
          </div>
        </div>
      </div>
</div>
</body>
</html>