<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="partials/layout.html">
<head th:insert="~{partials/sideBar:: header}">

  <title>Seance List</title>





</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="search-field d-none d-md-block">
                <form th:action="@{seanceList/search}" method="get" class="d-flex align-items-center mb-2 h-100">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend bg-transparent">
                            <i class="input-group-text border-0 bg-transparent pt-2 bi bi-search"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" name="seance"
                               th:value="${keyword}" placeholder="Chercher">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6" th:if="${#authorization.expression('hasAuthority(''ADMIN'') or hasAuthority(''SUBADMIN'')')}">
            <form th:action="@{/sessions/search}" method="get" style="float: right">
            <label for="coachId"></label>
            <select id="coachId" name="coachId" style="border-bottom: none;
border-top: none;
border-right: none;
border-left: none;
background: transparent;
padding: 4px;
margin: 2px;
color: #686f76;
border-radius: 3px;
width: 13rem;">
                <option value="">Chercher par entraineur</option>
                <option th:each="coach : ${coaches}" th:value="${coach.id}" th:text="${coach.name}+' '+${coach.lname}" th:selected="${coach.id == coachId}"></option>
            </select>
            <button type="submit" style="background: transparent;
border: none;
color: #64686b;"><i class="bi bi-search"></i></button>
        </form>
        </div>
    </div>


    <button th:if="${#authorization.expression('hasAuthority(''ADMIN'') or hasAuthority(''SUBADMIN'')')}" class="btn btn-primary btn-rounded float-end mb-3 mx-2" data-bs-toggle="modal"
            data-bs-target="#exampleModal"><i class="bi bi-plus-circle me-1"></i>Ajouter</button>
    <form th:action="@{/deleteSessions}" method="post">
        <button th:if="${#authorization.expression('hasAuthority(''ADMIN'') or hasAuthority(''SUBADMIN'')')}" class=" float-start mb-3 btn-rounded btn mx-2 " style="background-color: #f34444;color:white" type="submit" onclick="return confirm('Vous avez sure?')" ><i class="bi bi-trash me-1"></i>Supprimer</button>

        <table class="table table table-centered table-hover table-responsive ">
          <tr>
            <th th:if="${#authorization.expression('hasAuthority(''ADMIN'') or hasAuthority(''SUBADMIN'')')}"><input type="checkbox" class="selectall" data-target="requests-all"/></th>
            <th>Id</th>
            <th>Seance</th>
            <th>La date de debut</th>
            <th>Temps de debut</th>
            <th>Temps de fin</th>

            <th>Nombres des semains </th>
            <th>Entraineur</th>

            <th th:if="${#authorization.expression('hasAuthority(''ADMIN'') or hasAuthority(''SUBADMIN'')')}" colspan="2">Action</th>
          </tr>
          <tr th:each="s:${listSeance}">
            <td th:if="${#authorization.expression('hasAuthority(''ADMIN'') or hasAuthority(''SUBADMIN'')')}">
              <input type="checkbox" name="seanceId" data-target="requests-all"
                     th:value="${s.id}" />
            </td>
            <td th:utext="${s.getId()}"></td>
            <td th:utext="${s.getClassName()}"></td>
            <td class="fw-bold" th:utext="${s.getStartDate()}" ></td>
            <td th:utext="${s.getStartTime()}"></td>

            <td th:utext="${s.getEndTime()}"></td>

            <td th:utext="${s.getNumWeeks()}"></td>

            <td th:utext="${s.coach}" ></td>

            <td th:if="${#authorization.expression('hasAuthority(''ADMIN'') or hasAuthority(''SUBADMIN'')')}"><a onclick="return confirm('Vous avez sure?')"
                   th:href="@{/deleteSeance(id=${s.id},keyword=${keyword}, page=${currentPage})}"> <i class="bi bi-trash iconT"></i></a></td>
            <td th:if="${#authorization.expression('hasAuthority(''ADMIN'') or hasAuthority(''SUBADMIN'')')}"><a data-th-id="${s.id}" data-bs-toggle="modal" data-bs-target="#editModal" class="eBtn">
              <i class="bi bi-pencil-square iconE"></i></a></td>


          </tr>
        </table>
    </form>
        <ul class="nav nav-pills">
          <li th:each="page,status:${pages}">
            <a
                    th:class="${status.index==currentPage?'btn pBtn btn-info ms-2':'btn oBtn btn-outline-info ms-2'}"
                    th:href="@{/seanceList(page=${status.index}, keyword=${keyword})}"
                    th:text="${status.index}">
            </a>
          </li>
        </ul>


      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" >
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLabel">Ajouter seance</h3>
              <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">

              </button>
            </div>
            <div class="modal-body">
              <div class="card align-content-center">
                <div class="card-body">
                  <form  th:action="@{/addSeance}"
                         th:object="${seance}" method="POST" >
                    <label class="form-label ">Seance :</label>
                    <input class="form-control" type="text" th:field="*{className}" />
                    <label class="form-label mt-2">Date de debut :</label>
                    <input class="form-control " type="date" th:field="*{startDate}"/>

                    <div class="row mt-2">
                      <div class="col-md-6 mb-2">
                        <div class="form-outline">
                          <label class="form-label mt-2">Temps de debut :</label>
                          <input class="form-control" type="time" th:field="*{startTime}"/>
                        </div>
                      </div>
                      <div class="col-md-6 mb-2">
                        <div class="form-outline">
                          <label class="form-label mt-2">Temps de fin :</label>
                          <input class="form-control" type="time" th:field="*{endTime}"/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                    <label class="form-label mt-2">Répéter :</label>
                </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="lundi"  value="MONDAY" th:field="*{days[0]}">
                      <label class="form-check-label" for="lundi">Lun</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="mardi"  value="TUESDAY" th:field="*{days[1]}">
                      <label class="form-check-label" for="mardi">Mar</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="mercredi"  value="WEDNESDAY" th:field="*{days[2]}" >
                      <label class="form-check-label" for="mercredi">Mer</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="jeudi"  value="THURSDAY" th:field="*{days[3]}">
                      <label class="form-check-label" for="jeudi">Jeu</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="vendredi"  value="FRIDAY" th:field="*{days[4]}">
                      <label class="form-check-label" for="vendredi">Ven</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="samedi"  value="SATURDAY" th:field="*{days[5]}">
                      <label class="form-check-label" for="samedi">Sam </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="dimanch"  value="SUNDAY" th:field="*{days[6]}">
                      <label class="form-check-label" for="dimanch">Dim </label>
                    </div>
                    <style>
                      .form-check-inline {
                        display: inline-block;
                        margin-right: 10px;
                      }
                    </style>
                    <label class="form-label mt-2">Nombre des semains :</label>
                    <input class="form-control" type="number" th:field="*{numWeeks}"/>

                    <label class="form-label mt-2">Entraineur :</label>

                    <select name="coach" id="coach" class="form-control mb-4">
                      <option th:each="coach : ${coaches}" th:value="${coach.id}"
                              th:text="${coach.name}+' '+${coach.lname}"></option>
                    </select>
                    <input type="submit" class="btn btn-primary mt-2" value="Ajouter"/>
                  </form>

                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

            </div>
          </div>
        </div>
      </div>

  <!-- Edit Seance Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="editModallabel">Edit Seance</h3>
          <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery library -->
  <script th:src="@{/webjars/jquery/3.6.2/jquery.min.js}"></script>

  <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>

  <script>

    $('#editModal').on('show.bs.modal', function () {

      $(".eBtn").click(function () {
        var id = $(this).attr('id');
        $.get("/editSeance?id=" + id, function (data) {
          $('#editModal').find('.modal-body').html(data);
        })
      })
    })

  </script>

</div>
</body>
</html>