<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="partials/employeeBar.html">

<head th:insert="~{partials/employeeBar  :: EmpHeader}">
    <meta charset="utf-8">
    <title>Index</title>

</head>

<body>


<div layout:fragment="EmpContent" class="d-flex flex-column h-100">
    <h1 style="color: whitesmoke;font-weight: bold">Bienvenue </h1>
    <div class="row">
        <div class="col-md-8">
            <h3 class="check-h3">Les adhérents</h3>

            <div class="bg-light " style="overflow-x: auto; max-height: 450px;scrollbar-width: none;margin-bottom: 2px">

                <input type="text" id="cin" onkeyup="EmpSearchMember()" placeholder="Telephone">
                <style>
                    #cin {
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        font-size: 12px;
                        width: 18.5cm;
                        margin-right: auto;
                        margin-left: 6px;
                        margin-top: 11px;
                    }


                    #cin:focus {
                        outline: none;
                        border-color: #007bff;
                        box-shadow: 0 0 5px #007bff;
                    }
                </style>

                <table id="IndexTable" class="table table-centered table-hover table-responsive">
                    <tr>

                        <th>Adhérent</th>
                        <th>Cin</th>
                        <th>Tele</th>
                        <th>Adhésion</th>
                        <th>Statue</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="m:${members}" data-th-id="${m.id}"
                        onclick="getProfile($(this).attr('id'))">
                        <script>
                            function getProfile(id) {

                                window.location.href = "/employee/userProfile?id=" + id;
                            }
                        </script>

                        <td>
                            <div class="user-info">
                                <div class="user-info__img">
                                    <img th:if="${m.pic}" alt="user icon" th:src="@{'/images/'+${m.pic}}">
                                </div>
                                <div class="user-info__basic">
                                    <h5 class="mb-0" th:utext="${m.getName()}+' '+${m.getLname()}"></h5>
                                    <p class="text-muted mb-0" th:utext="${m.getEmail()}"></p>
                                </div>
                            </div>
                        </td>

                        <!--<td class="py-1"><img th:if="${m.pic}"  alt="user icon" th:src="@{'images/'+${m.pic}}"></td>
                        <td th:utext="${m.getName()}"></td>
                        <td th:utext="${m.getLname()}"></td>
                        <td th:utext="${m.getEmail()}"></td>-->


                        <td th:utext="${m.getCin()}"></td>
                        <td th:utext="${m.tele}"></td>
                        <td style="color: #04405e;font-weight: bold;" th:utext="${m.getCurrentAbonnement()!= null ? m.getCurrentAbonnement().getAbonnement().getNameAb() : ''}"></td>

                        <td>
                            <p class="text-secondary fw-bold mb-1" style="color: #0cb930  !important;"
                               th:if="${m.status == 'Active'}" th:utext="${m.status}"></p>
                            <p class="text-secondary fw-bold mb-1" style="color: #ff0606  !important;"
                               th:if="${m.status == 'Inactive'}" th:utext="${m.status}"></p>

                        </td>
                        <!--                        <td><a href="" class="btn btn-success text-white" onclick="event.stopPropagation()">CheckIn</a></td>-->
                        <td onclick="event.stopPropagation()"> <!--<div class="kebab-menu" >
                            &lt;!&ndash; Three dots icon (Unicode character: Horizontal Ellipsis) &ndash;&gt;
                            <div style="font-size: 24px">&#8942;</div>
                            &lt;!&ndash; Kebab menu content &ndash;&gt;
                            <div class="kebab-menu-content">
                                <a href="#" onclick="editItem()">Edit</a>
                                <a href="#" onclick="deleteItem()">Delete</a>
                            </div>
                        </div> --><a th:href="@{/employee/enregistrement}"  class="checkinBtn btn btn-success text-white " style="margin-left: 4px" >CheckIn</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <h3 class="check-h3">Derniers enregistrements</h3>
            <div class="bg-light m-1"
                 style="overflow-x: auto; max-height: 400px;scrollbar-width: none;">

                 <div th:each="check:${checkin}">

                            <div class="d-flex align-items-center checkIn-card m-3">
                                <div class="checkImg">
                                    <img th:if="${check.getMember() != null && check.getMember().getPic() != null}"
                                         alt="user icon" th:src="@{'/images/' + ${check.getMember().getPic()}}">

                                </div>

                                <div class="textBox">
                                    <div class="textContent">
                                                <span class="fw-bold"
                                                      th:utext="${(check.getMember()?.getName() ?: 'member') + ' ' + (check.getMember()?.getLname() ?: '')}"></span>
                                        <span class="float-end ms-7" th:utext="${check.getCheckinDate()}"></span>

                                    </div>



                                <div class="checkInDev">
                                    <div
                                         th:utext="${check.getSession()?.getClassName() ?: 'seance'}"></div>

                                    <div
                                         th:utext="${check.getCheckinTime()}"></div>
                                </div>
                                </div>
                            </div>


                    </div>

            </div>
        </div>
    </div>


    <script>
        // JavaScript functions for menu actions
        function editItem() {
            // Implement edit action here
            console.log('Edit action triggered');
        }

        function deleteItem() {
            // Implement delete action here
            console.log('Delete action triggered');
        }

        // Toggle kebab menu content visibility
        document.querySelectorAll('.kebab-menu').forEach(function(menu) {
            menu.addEventListener('click', function() {
                var content = this.querySelector('.kebab-menu-content');
                content.style.display = (content.style.display === 'block') ? 'none' : 'block';
            });
        });
        function EmpSearchMember() {
            var input, filter, table, tr, td, i, nameColumn;
            input = document.getElementById("cin");
            filter = input.value.toUpperCase();
            table = document.getElementById("IndexTable");
            tr = table.getElementsByTagName("tr");
            nameColumn = 2;

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[nameColumn];
                if (td) {
                    var name = td.textContent || td.innerText;
                    if (name.toUpperCase().indexOf(filter.toUpperCase()) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }

                }
            }
        }
    </script>
</div>
</body>

</html>